{{#contentFor 'pageScripts'}}
    <script>
        // TODO: add handler
    </script>
{{/contentFor}}

{{#contentFor 'body'}}
    <h1>Request: "{{trap}}"</h1>
    {{#each requests}}
    <ul>
        <li>Request date: {{date}}</li>
        <li>Remote ip: {{ip}}</li>
        <li>Request-method: {{method}}</li>
        <li>Scheme: {{scheme}}</li>
        <li>Query-string: {{query}}</li>
        <li>
            Query-params:
            <ul>
            {{#each params}}
                <li>{{key}}: {{value}}</li>
            {{/each}}
            </ul>
        </li>
        <li>Cookies: {{cookie}}</li>
        <li>
            Headers:
            <ul>
            {{#each headers}}
                <li>{{key}}: {{value}}</li>
            {{/each}}
            </ul>
        </li>
    </ul>
    {{/each}}
{{/contentFor}}
