{{#contentFor 'pageNav'}}
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{trap}}</li>
{{/contentFor}}

{{#contentFor 'pageScripts'}}
    <script>
        $(document).ready(function () {
            const socket = io();
            const mapHeaderRequest = new Map([
                ["date", "Request date"], 
                ["ip", "Remote ip"],
                ["method", "Request-method"],
                ["scheme", "Scheme"],
                ["query", "Query-string	"],
                ["params", "Query-params"],
                ["cookie", "Cookies"],
                ["headers", "Headers"]
            ]);

            socket.on('{{trap}}', function(request) {
                createRequest(request);
                showHideAlert();
            });

            function createRequest(request) {
                $('div.request-container').find('h1').after(
                    $("<table />")
                    .addClass("table table-bordered table-dark table-condensed")
                    .append($("<tbody />").append(() => {
                        const trs = [];

                        for (let [key, value] of Object.entries(request)) {
                            if (!mapHeaderRequest.has(key)) {
                                continue;
                            }

                            const keyTD = $("<td/ >").text(mapHeaderRequest.get(key));
                            const valueTD = $("<td/ >");
                            
                            if (value instanceof Array) {
                                valueTD.append($("<ul />").addClass("list-unstyled").append(() => {
                                    const lis = [];
                                    for (let {key: k, value: v} of value) 
                                        lis.push($("<li />").append([$("<strong />").text(`${k}:`), " ", v]));
                                    return lis;
                                }));
                            } else if (key === 'method') {
                                valueTD.append($("<span />").addClass(`badge badge-secondary ${value}`).text(value))
                            } else {
                                valueTD.text(value);
                            }

                            trs.push($("<tr />").append([keyTD, valueTD]))
                        }

                        return trs;
                    }))
                ).hide().show("fast");
            }
        });
    </script>
{{/contentFor}}

{{#contentFor 'pageStyles'}}
    <style>
        .table-condensed {
            font-size: 14px;
        }
    </style>
{{/contentFor}}

{{#contentFor 'body'}}
    <div class="request-container my-3 p-3 bg-white rounded shadow-sm">
        <h1>Request: "{{trap}}"</h1>
        {{#each requests}}
        <table class="table table-bordered table-dark table-condensed">
            <tbody>
                {{> request-tr key="Request date" value=date}}
                {{> request-tr key="Remote ip" value=ip}}
                <tr>
                    <td>Request-method</td>
                    <td><span class="badge badge-secondary {{method}}">{{method}}</span></td>
                </tr>
                {{> request-tr key="Scheme" value=scheme}}
                {{> request-tr key="Query-string" value=query}}
                <tr>
                    <td>Query-params</td>
                    <td>
                        {{> key-value context=params }}
                    </td>
                </tr>
                {{> request-tr key="Cookies" value=cookie}}
                <tr>
                    <td>Headers</td>
                    <td>
                        {{> key-value context=headers }}
                    </td>
                </tr>
            </tbody>
        </table>
        {{/each}}
    </div>
{{/contentFor}}
